<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=2.0, user-scalable=1"> -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="layoutmode" content="standard">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="renderer" content="webkit">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=2.0, user-scalable=1"> -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="layoutmode" content="standard">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="renderer" content="webkit">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
     <script type="text/javascript"> 
  var duoshuoQuery = {short_name:"drchan"};
  (function() { var ds = document.createElement('script');
  ds.type = 'text/javascript';ds.async = true; 
  ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
  ds.charset = 'UTF-8'; (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds); })();
  </script>
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 00px;
	margin-right: 0px;
	margin-bottom: 0px;
}
</style>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
<title>{$result.shopname} | {$result0.fname}</title>
</head>

<body>

<div data-role="page">
  <div data-role="header" data-theme="c">
  <a href="javascript:history.back();" data-role="button" data-icon="arrow-l" data-iconpos="left" data-ajax="false">返回</a>
    <h1>{$result.shopname}</h1>
  </div>

  <div data-role="content" data-theme="c" >   
    <ul data-role="listview" >
    <p><img src="__ROOT__/public/{$result.img}" style="width:100%;" /></p>
      <li  data-theme="e" data-theme="e">商铺简介</li>
      <li>{$result.introduce}</li>  
    </ul>  
  </div>
  
 <div data-role="collapsible" data-iconpos="right" data-collapsed-icon="arrow-d"  data-expanded-icon="arrow-u"  data-type="vertical">
    <h4>想知道更多吗</h4>
    <ul data-role="listview">
      <li><a href="#">联系方式：{$result.phone}</a></li>
      <li><a href="#">商铺门号：{$result.shopid}</a></li>
    </ul>
  </div>
    <div class="ds-thread" data-thread-key="{$result.id}" data-limit="5"></div>
  <div data-role="footer" data-theme="d" data-position="fixed">

    
    <div data-role="navbar">
      <ul>
        <li><a href="{:U('index')}" data-icon="home" data-ajax="false">主页</a></li>
        <li><a href="{:U('shoplist')}" data-icon="grid" data-ajax="false">商铺列表</a></li>
        <li><a href="__ROOT__/index.php/Home/Index/article/id/{$result['id']+1}" data-icon="arrow-r" data-ajax="false">下一个</a></li>
        <li><a href="{:U('index/map')}" data-icon="star" data-ajax="false">登录</a></li>
      </ul>
    </div>
  
  </div>


</div> 

</body>
</html>
