<extend name="Public/base"/>

<block name="title">首页介绍框设置</block>

<block name="head0">前台管理</block>
<block name="head1">首页介绍框设置</block>

<block name="body">
<div id="load" class="am-padding" style="float:left;"><iframe frameborder="0" id="doc-widget-frame" src="__ROOT__/index.php/Home/Index/index" style="height:480px;width:320px;box-shadow:0 0 5px 2px rgba(0, 0, 0, 0.1)"></iframe></div>


<form class="am-form am-margin" action="__SELF__" method="post" enctype="multipart/form-data" style="float:left;width:60%">
			
		<div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              介绍框标题
            </div>
            <div class="am-u-sm-8 am-u-end">
              <input type="text" name="box_title" value="{$result.box_title}"/>
            </div>
          </div>
			
			
          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right" >
              介绍框图片
            </div>
            <div class="am-u-sm-6">
              <img src="__ROOT__/public/{$result.small_img}"  alt="介绍框图片" class="am-img-thumbnail" id="simg1"/ >
            </div>
            <div class="am-u-sm-6"></div>
          </div>
          
          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              &nbsp;
            </div>
            <div class="am-u-sm-4">
              <input type="file" name="small_img" class="am-btn am-btn-secondary" id="simg" />
             </div>
            <div class="am-u-sm-6"></div>
          </div>

			
		<div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              文字简介
            </div>
            <div class="am-u-sm-8 am-u-end">
              <textarea name="content" rows="5">{$result.content}</textarea>
            </div>
          </div>
			
          
          <div class="am-g am-margin-top">
          <div class="am-u-sm-2 am-text-right">
             &nbsp;
            </div>
          <div class="am-margin" style="float:left;">
			<input type="submit" class="am-btn am-btn-success" value="提交保存">
		  </div>
		  
		  <div class="am-margin" style="float:left;">
			<input type="reset" class="am-btn am-btn-secondary" value="重置表单">
		  </div>
		 
		 
		 
		  
		  </div>
		  
		  </form>
</block>

<block name="js">
<script type="text/javascript">
$(document).ready(function(){
  $("#simg").click(function(){
	$("#simg1").slideUp("slow");
  });
});

</script>
</block>