<extend name="Public/base"/>

<block name="title">站点设置</block>

<block name="head0">前台管理</block>
<block name="head1">站点设置</block>

<block name="body">



    <div id="load" class="am-padding" style="float:left;"><iframe frameborder="0" id="doc-widget-frame" src="__ROOT__/index.php/Home/Index/index" style="height:480px;width:320px;box-shadow:0 0 5px 2px rgba(0, 0, 0, 0.1)"></iframe>
</div>

<form class="am-form" action="__SELF__" method="post" enctype="multipart/form-data" style="float:left;width:60%" />
          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              站点名称
            </div>
            <div class="am-u-sm-4">
              <input type="text" class="am-input-sm" name="title" value="{$result.title}">
            </div>
            <div class="am-u-sm-6"></div>
          </div>

          <div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              首页标题
            </div>
            <div class="am-u-sm-4 am-u-end">
              <input type="text" class="am-input-sm" name="fname" value="{$result.fname}">
            </div>
          </div>
			
			<div class="am-g am-margin-top">
            <div class="am-u-sm-2 am-text-right">
              版权信息
            </div>
            <div class="am-u-sm-8 am-u-end">
              <input type="text" class="am-input-sm" name="footer1" value="{$result.footer1}">
              <br>
              <input type="text" class="am-input-sm" name="footer2" value="{$result.footer2}">
            </div>
            
          </div>

			
		
			
          
          <div class="am-g am-margin-top">
          <div class="am-u-sm-2 am-text-right">
             &nbsp;
            </div>
          <div class="am-margin" style="float:left;">
			<input type="submit" class="am-btn am-btn-success" value="提交保存">
		  </div>
		  
		  <div class="am-margin" style="float:left;">
			<input type="reset" class="am-btn am-btn-secondary" value="重置表单">
		  </div>
		  
		 
		  
		  </div>
		  

        </form>
</block>